body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container:first-of-type {
    margin-top: 400px;
}

.container {
    margin-top: 20px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
}

#regAirlineFunc, #fundAirlineFunc, #flightDetails {
    display: flex;
    flex-direction: column;
}

#showRegisteredAirlines{

}
td,th {
text-align: center;
width:15%;

}


#flightHour, #flightMinute {
    width: 10%;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    margin-right: 30px;
}
